* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background: #f1f5f8;
    color: #0066c0;
    font-weight: 100;
}

.booklist {
    width: 90vw;
    max-width: 995px;
    margin: 5rem auto;
    display: grid;
    gap: 0rem;
}

a:link,
a:visited {
    color: #0066c0;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

.checked {
    color: orange;
}

@media screen and (min-width:768px) {
    .booklist {
        grid-template-columns: repeat(3, 1fr);
    }
}

.book {
    width: 332px;
    height: 370px;
    background: #fff;
    border: 1px solid #ddd;
    font-weight: 100;
}

.book h3 {
    margin-top: 0.5rem;
}

.book p {
    margin-top: 0.5rem;
}

.header {
    text-align: center;
    color: white;
    background: radial-gradient(#0A99AF, #057586);
    padding-top: 30px;
    padding-bottom: 30px;
}